<h1>Robot <strike>Army</strike> Peaceful Gathering</h1>
<%= link_to "Manufacturers", manufacturers_path %>
<% @inventory_robots.each do |robot| %>
  <ul id="robo-roster">
    <li>
      <%= link_to "#{robot.designation}", robot_path(robot)  %>
    </li>
  </ul>
  <% end %>
<% @ordered_robots.each do |robot| %>
  <ul id="robo-roster">
    <li>
      <%= link_to "#{robot.designation}", robot_path(robot)  %>
    </li>
  </ul>
  <% end %>
