<div class="container portal">
  <h2>This is not a website.</h2>


  <div class=portal-button>
  <h4>Are you a blackbelt super mutant?</h4>
    <a href="/closed" class="btn btn-primary" role="button">Yes</a>
    <a href="/login" class="btn btn-primary" role="button">No</a>
  </div>
</div>
