<div class="container portal">
  <h3 class="page-title">This is not a website.</h3>

  <div class=portal-button>
  <h4>Are you a blackbelt super mutant?</h4>
    <%= link_to "Yes", closed_portal_url, class: "btn btn-primary" %>
    <%= link_to "No", login_path, class: "btn btn-primary" %>
  </div>
</div>
