<div class="container portal">
  <h2>This is not a website.</h2>


  <div class=portal-button>
  <h4>Are you a blackbelt super mutant?</h4>
    <%= link_to "Yes", closed_portal_url, class: "btn btn-primary" %>
    <%= link_to "No", login_path, class: "btn btn-primary" %>
  </div>
</div>
