@import url('https://fonts.googleapis.com/css?family=Overpass+Mono');

// $font-family-sans-serif: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

@import 'bootstrap-sprockets';
@import 'bootstrap';

.form-control {
  margin-bottom: 10px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

body {
  font-family: 'Overpass Mono', monospace;
}

.portal {
  text-align: center;
}

.portal-button {
  margin-top: 50px;
}

.model-list a:hover {
  text-decoration: none;
}

.list-group-item {
  color: black;
}

.list-group-item:hover {
  background-color: #ebe7e1;
}

btn {
  margin-top: 15px;
}

.page-title {
  margin-bottom: 20px;
}

#inventory-link {
  margin-top: 35px;
}

#robo-roster {
  margin-top: 10px;
  margin-bottom: 10px;
}

#inventory {
  margin-left: 25px;
}

.btn-buy {
  width: 30%;
  margin-top: 15px;
}
