<div class="container mfg-index">
  <h3 class="page-title">Manufacturers</h3>
  <% @manufacturers.each do |manufacturer| %>
    <div class="col-md-4">
      <ul style="list-style: none;">
        <li><%= link_to manufacturer.name, manufacturer_path(manufacturer) %></li>
      </ul>
    </div>
  <% end %>
</div>
